@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", serif;
  background-color: #cdd6cd;
  color: #222522;
}

header#navbar,
ul.links {
  display: flex;
  justify-content: space-around;
}

.logo {
  overflow: hidden;
  font-weight: 600;
}

img {
  width: 25px;
  height: 25px;
}

header#navbar {
  align-items: center;
  height: 10vh;
  background-color: #abbaab;
}

header#navbar .logo,
.toggle-btn {
  font-size: 2.4rem;
}

ul.links {
  gap: 2rem;
}

li {
  list-style: none;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

.toggle-btn {
  display: none;
}

.dropdown-menu {
  display: none;
}

.open {
  margin-top: 1rem;
  display: block;
  position: absolute;
  right: 2rem;
  top: 12vh;
  height: 300px;
  width: 80%;

  background-image: linear-gradient(to top right, #abbaab, #ffffff);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
}
